{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<ul>
    <li><a href="{{ path('card_start') }}">Landing page</li></a>
    <li><a href="{{ path('card_deck') }}">Show Deck</li></a>
    <li><a href="{{ path('card_shuffle') }}">Shuffle Deck</li></a>
    <li><a href="{{ path('card_draw') }}">Draw Card</li></a>
    <li><a href="{{ path('card_draw:number_start') }}">Draw :number cards</li></a>
</ul>
<h1>Card Deck</h1>

<p>
{% for card in ourDeck %}
    {% if card.suit == 'spades' %}
        <span class="spades">{{ card.value }} </span>
    {% elseif card.suit == 'hearts' %}
        <span class="hearts">{{ card.value }} </span>
    {% elseif card.suit == 'diamonds' %}
        <span class="diamonds">{{ card.value }} </span>
    {% elseif card.suit == 'clovers' %}
        <span class="clovers">{{ card.value }} </span>
    {% endif %}
{% endfor %}
</p>


{{ include('flash.html.twig') }}

{% endblock %}
