{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<ul>
    <li><a href="{{ path('card_start') }}">Landing page</li></a>
    <li><a href="{{ path('card_deck') }}">Show Deck</li></a>
    <li><a href="{{ path('card_shuffle') }}">Shuffle Deck</li></a>
    <li><a href="{{ path('card_draw') }}">Draw Card</li></a>
    <li><a href="{{ path('card_draw:number_start') }}">Draw :number cards</li></a>

</ul>
<h1>Draw Card</h1>


<p>
    {% if drawnCard[0].suit == 'spades' %}
        <span class="spades">{{ drawnCard[0].value }} </span>
    {% elseif drawnCard[0].suit == 'hearts' %}
        <span class="hearts">{{ drawnCard[0].value }} </span>
    {% elseif drawnCard[0].suit == 'diamonds' %}
        <span class="diamonds">{{ drawnCard[0].value }} </span>
    {% elseif drawnCard[0].suit == 'clovers' %}
        <span class="clovers">{{ drawnCard[0].value }} </span>
    {% endif %}
</p>


<p>Cards left in Deck:<span class="card">{{ cardsLeft }}</span></p>

{{ include('flash.html.twig') }}

{% endblock %}
