{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<ul>
    <li><a href="{{ path('card_start') }}">Landing page</li></a>
    <li><a href="{{ path('card_deck') }}">Show Deck</li></a>
    <li><a href="{{ path('card_shuffle') }}">Shuffle Deck</li></a>
    <li><a href="{{ path('card_draw') }}">Draw Card</li></a>
    <li><a href="{{ path('card_draw:number_start') }}">Draw :number cards</li></a>
</ul>
<h1>Draw :number </h1>

<!-- denna bör jag kanske länka till och skapa formulär för !-->

<p>
{% for card in drawnHand %}
    <span class="card">{{ card }}</span>
{% endfor %}
</p>

<p>Cards left in Deck:<span class="card">{{ cardsLeft }}</span></p>


{{ include('flash.html.twig') }}

{% endblock %}
