{% extends "project-base.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
<ul class="proj-secondary-nav">
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_home') }}">Home</li></a>
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_about') }}">About</li></a>
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_init') }}">New Game</li></a>
</ul>

<h1 class="proj-h1">MVC Project</h1>

<div class="blackjack-container">
    {% if winnerName %}
        <div class="proj-result">Winner: {{ winnerName }} {{ winnerPoints }}</div>
    {% endif %}
    {% for player in players %}
        {% if player.bank == false %}
            <div class="player-container">
                <h3 class="player-h3">Player: {{ player.name }}</h3>
                <h4 class="player-h4">Points: {{ player.points }}</h4>
                <div class="player-cards">
                    {% for card in player.cards %}
                        {% if card[1] == 'spades' %}
                            <span class="spades">{{ card[0] }} </span>
                        {% elseif card[1] == 'hearts' %}
                            <span class="hearts">{{ card[0] }} </span>
                        {% elseif card[1] == 'diamonds' %}
                            <span class="diamonds">{{ card[0] }} </span>
                        {% elseif card[1] == 'clovers' %}
                            <span class="clovers">{{ card[0] }} </span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if player.playersTurn and player.name != winnerName %}
                    <a class="proj-draw-btn" href="{{ path('proj_draw') }}">Draw</a>
                    <a class="proj-hold-btn" href="{{ path('proj_hold') }}">Hold</a>
                {% endif %}
            </div>
        {% elseif player.bank == true or winnerName %}
            <div class="bank-container">
                <h3 class="player-h3">{{ player.name }}</h3>
                <h4 class="player-h4">Points: {{ player.points }}</h4>
                <div class="player-cards">
                    {% for card in player.cards %}
                        {% if card[1] == 'spades' %}
                            <span class="spades">{{ card[0] }} </span>
                        {% elseif card[1] == 'hearts' %}
                            <span class="hearts">{{ card[0] }} </span>
                        {% elseif card[1] == 'diamonds' %}
                            <span class="diamonds">{{ card[0] }} </span>
                        {% elseif card[1] == 'clovers' %}
                            <span class="clovers">{{ card[0] }} </span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if player.playersTurn and player.name != winnerName %}
                    <a class="proj-draw-btn" href="{{ path('proj_hold') }}">Execute banks turn</a>
                {% endif %}
            </div>
        {% endif %}

    {% endfor %}
</div>

{% endblock %}
