{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}


{% block main %}
    <h1>Detail view</h1>
    {{ include('flash.html.twig') }}
    <nav class="secondary-nav">
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-b" href="{{ path('library_view_all') }}">All books</a></li>
            <li class="nav-item"><a class="nav-b" href="{{ path('library_create_new') }}">Create new book</a></li>
        </ul>
    </nav>
    <br>


    <table class="book-table">
        <thead>
            <tr>
                <th class="sing-book-th">Id</th>
                <th class="sing-book-th">Title</th>
                <th class="sing-book-th">Author</th>
                <th class="sing-book-th">Isbn</th>
                <th class="sing-book-th">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sing-book-tr">
                <td class="sing-book-td">{{ book.id }}</td>
                <td class="sing-book-td">{{ book.title }}</td>
                <td class="sing-book-td">{{ book.author }}</td>
                <td class="sing-book-td">{{ book.isbn }}</td>
                <td class="sing-book-td book-image">
                    {% if image %}
                        <img src="data:{{mime_type}};base64,{{ image }}" alt="Image not found" style="max-width: 250px;">
                    {% else %}
                        No image available
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <form method="post" action="{{ path('library_update_book', {'id': book.id}) }}">
        <button type="submit" id="book-update-btn">Update Book</button>
    </form>
    <form method="post" action="{{ path('library_delete_book_by_id', {'id': book.id}) }}">
        <button type="submit" id="book-delete-btn">Delete Book</button>
    </form>
    


{% endblock %}
