{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}


{% block main %}
    <h1>All books</h1>
    <nav class="secondary-nav">
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-b" href="{{ path('library') }}">Home</a></li>
            <li class="nav-item"><a class="nav-b" href="{{ path('library_view_all') }}">All books</a></li>
            <li class="nav-item"><a class="nav-b" href="{{ path('library_create_new') }}">Create new book</a></li>
        </ul>
    </nav>
    <br>


    <table class="book-table">
        <thead>
            <tr>
                <th class="book-th">Id</th>
                <th class="book-th">Title</th>
                <th class="book-th">Author</th>
                <th class="book-th">Isbn</th>
                <th class="book-th">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr class="book-tr" onclick="window.location.href='{{ path('library_view_by_id', {'id': book.id}) }}';" style="cursor: pointer;">
                    <td class="book-td">{{ book.id }}</td>
                    <td class="book-td">{{ book.title }}</td>
                    <td class="book-td">{{ book.author }}</td>
                    <td class="book-td">{{ book.isbn }}</td>
                    <td class="book-td book-image">
                        {% set imageData = images[book.id] ?? null %}
                        {% if imageData %}
                            <img src="data:{{imageData.mime}};base64,{{ imageData.data }}" alt="Image not found" style="max-width: 250px;">
                        {% else %}
                            No image available
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
